
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    text-align: center;
    position: relative;
}
.duong_line {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 70px;
    
}
.duong_line1 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 70px;
    
}

.form_Dien_thong_tin_chuyen_bay {
    background-color: transparent;
    position: relative;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 20px;
    backdrop-filter: blur(60px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.fs-7
{
    font-size:15px;
}
.fs-8
{
    font-size:13px;
}
.inp-width
{
    width:240px;
}
.inp-height
{
    height:52px;
}
.btnTimKiem:hover {
    border: 1px solid #49caaf;
    background-color: #ffffff;
    color: #49caaf;
}
.date-wid {
    width: 220px;
}

.content1 
{
    position:center;
}
.content-Goi-y-tuong
{   
    display:flex;
    

}
    .content-Goi-y-tuong .card img
    {
        border-radius:10px;
    }
    .content-Goi-y-tuong .card {
        margin-top: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        box-shadow: 1px 1px 1px 1px #b4b4b4;
    }
    .content-Goi-y-tuong .card-text
    {
        font-weight:bold;

    }
.content2
{
    margin-top:60px;
}
.content-chuyen_bay_pho_bien
{
    display:flex;
}
    .content-chuyen_bay_pho_bien .card {
        margin-top: 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        box-shadow: 1px 1px 1px 1px #b4b4b4;
    }
        .content-chuyen_bay_pho_bien .card img 
        {
            border-radius:10px;
        }
        .content-chuyen_bay_pho_bien .card .card-body p {
            font-weight: bold;
        }

.content3
{
    margin-top:60px;
}
    .da_dang_khach_san
    {
        display:flex;
    }
.da_dang_khach_san .card {
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 1px 1px #b4b4b4;
}
    .da_dang_khach_san .card img {
        border-radius: 10px;
    }
        .da_dang_khach_san .card h5
        {
            font-size:12px;
            font-weight:bold;
        }
    .da_dang_khach_san .card p {
        color: #F86608;
    }

.content4
{
    margin-bottom:20px;
}
.nhan_xet_cua_khach_hang h2 {
    padding-left: 250px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 30px;
    color: #ffffff;
}
.nhan_xet_cua_khach_hang {
    position: relative;
    width: 100%;
    height: auto;
    background: #49caaf;
    border-radius: 20px;
}
.card_nhan_xet_khach_hang
{
 margin-left:130px;
}
    .card_nhan_xet_khach_hang .card {
        position: relative;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        background-color: transparent;
        color:#ffffff;
        
        backdrop-filter: blur(80px);
        border: 2px solid rgba(255,255,255,.2);
    }

    /*css cho dark mode*/
body.dark {
    background: #000;
    color: #fff;
    font-family:'Poppins', sans-serif;
}
body.dark header
{
    background:#3f3e3e;
    color:#fff;
}
    body.dark header #switch-mode
    {
        color:#fff;
    }
    body.dark header .navbarr a
    {
        color:#fff;
    }
        body.dark header .navbarr a:hover {
            color: #49caaf;
        }
    body.dark header .main a{
        color: #fff;
    }
    body.dark header .main a:hover {
        color: #49caaf;
    }
    body.dark header .main a i 
    {
        color:#fff;
    }
        body.dark header .main a i {
            color: #fff;
        }
        body.dark header .main a i:hover {
            color: #49caaf;
        }
    body.dark .nhan_xet_cua_khach_hang
    {
        background:#333;
    }
    body.dark .card {
        background: #b4b4b4;
    }

 
        
