<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Picture/logomaybay.jpg" rel="icon" type="image/x-icon" style="border-radius:10px;" />
    <title>Trang chủ</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/Content/css/Index.css" rel="stylesheet" />

</head>
<body>
    <!-- Header -->
    <header>
        <a href="#" class="logo"><span>Bayvivu</span></a>
        <ul class="navbarr">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Vé máy bay</a></li>
            <li><a href="#">Khách sạn</a></li>
            <li><a href="#">Xe đưa đón</a></li>
        </ul>
        <div class="main">
            <a href="#" class="user"><i class='bx bxs-user'></i>Đăng nhập</a>
            <a href="#">Đăng ký</a>
            <div class="bx bx-menu" id="menu-icons"></div>
            <button id="switch-mode" style="outline:none; border:none; background:none; cursor:pointer;"><i class='bx bxs-moon' style="font-size:21px;"></i></button>
        </div>

    </header>

    <!-- Main Content -->
    <div class="container" style="margin-top: 100px;">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <img src="~/Content/Picture/logomaybay.jpg" alt="Alternate Text" style=" width:100px; position:relative; border-radius:5px; height:auto; " />
                    <h5 style="margin-top:20px; color:#ffffff;">Công ty trách nhiệm hữu hạn và du lịch Bayvivu</h5>
                    <p style="margin-top:20px; color:#ffffff;">828 Sư Vạn Hạnh, phường 15, quận 10, tp Hồ Chí Minh</p>

                </div>
                <div class="footer-col">
                    <h4>Giới thiệu</h4>
                    <ul>
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Điều khoản và điều kiện</a></li>
                        <li><a href="#">Chính sách quyền riêng tư</a></li>
                        <li><a href="#">Hotline: 091234567</a></li>
                        <li><a href="#">Email: info@plane.com</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Sản phẩm</h4>
                    <ul>
                        <li><a href="#">Khách sạn</a></li>
                        <li><a href="#">Vé máy bay</a></li>
                        <li><a href="#">Đưa đón sân bay</a></li>
                        <li><a href="#">Cho thuê xe</a></li>
                        <li><a href="#">Hoạt động & vui chơi</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Theo dõi</h4>
                    <div class="social-link">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-col" style="color:#808080; margin-left:460px; margin-top:70px;">
                <p>Copyright &copy; Bayvivu.</p>
            </div>
        </div>
    </footer>

    <!--JS link-->
    <script type="text/javascript" src="~/Content/js/Headermenu.js"></script>
    <script>
        const body = document.body;
        const switch_mode = document.querySelector('#switch-mode i');
        switch_mode.addEventListener('click', () => {
            body.classList.toggle('dark');
            switch_mode.classList.toggle('bx bxs-moon');
            switch_mode.classList.toggle('bx bxs-sun');
        });
    </script>

</body>
</html>
