@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link href="~/Content/css/QuenMatKhauStyle.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Quên mật khẩu </h1>
            <div class="input-box">
                <input type="text" placeholder="Nhập tên đăng nhập" required />
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Nhập mật khẩu mới" required />
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Nhập lại mật khẩu mới" required />
                <i class='bx bxs-lock-alt' ></i>
            </div>
            <button type="submit" class="btn_Quen_mat_khau">Đổi mật khẩu</button>
            <div class="quay_lai_dang_nhap">
                <p> <a href="#">Quay lại đăng nhập</a></p>
            </div>
        </form>
    </div>
</body>
</html>
