<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Picture/logomaybay.jpg" rel="icon" type="image/x-icon" style="border-radius:10px;" />
    <title>Vé máy bay</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/Content/css/vemaybay.css" rel="stylesheet" />
</head>
<body>
    <div class="ve_may_bay">
        <div class="tieu_de">
            <div class="tieu_de_trai">
                <h3>Online Flight Booking</h3>
                <p>Quy Nhơn (UIH) -> Tp.Hồ Chí Minh(SGN)</p>
                <p>13:00 -> 14:25 (1h25p)</p>
            </div>
            <div class="tieu_de_phai">
                <h2>ECONOMY CLASS</h2>
            </div>
        </div>
        <hr class="duong_line">
        <div class="noi_dung_ve">
            <div class="noi_dung_ve_tren">
                <div class="content">
                    <h5>HÃNG HÀNG KHÔNG</h5>
                    <p>KDND AIRLINE</p>
                </div>
                <div class="content">
                    <h5>CỔNG</h5>
                    <p>B3</p>
                </div>
                <div class="content">
                    <h5>CHỖ NGỒI</h5>
                    <p>15A</p>
                </div>
                <div class="content">
                    <h5>TÌNH TRẠNG CHỖ</h5>
                    <p>ĐÃ XÁC NHẬN</p>
                </div>
            </div>
            <div class="noi_dung_ve_duoi">
                <div class="content">
                    <h5>KHÁCH HÀNG</h5>
                    <p>DUONG HOANG ANH KHOI</p>
                </div>
                <div class="content">
                    <h5>CĂN CƯỚC CÔNG DÂN</h5>
                    <p>052284091758</p>
                </div>
                <div class="content">
                    <h5>MÃ CHUYẾN BAY</h5>
                    <p>KNDN46</p>
                </div>
                <div class="content">
                    <h5>MÃ ĐẶT CHỖ</h5>
                    <p>DHAKT0911A</p>
                </div>
            </div>
        </div>
        <hr class="duong_line">
        <div class="gia_tien">
            <p>GIÁ TIỀN</p>
            <p class="so_tien">1.200.000 VND</p>
        </div>
        <hr class="duong_line">
        <div class="loi_cam_on">
            <p>CẢM ƠN VÌ ĐÃ SỬ DỤNG DỊCH VỤ CỦA CHÚNG TÔI</p>
        </div>
    </div>

</body>
</html>
