<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link href="~/Content/Picture/logomaybay.jpg" rel="icon" type="image/x-icon" />
    <link href="~/Content/css/Thongtincanhan.css"  rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Thông tin cá nhân</h1>
            <div class="bang_thong_tin_ca_nhan">
                <div class="Thong_tin_1">
                    <div class="input-box">
                        <p>Họ và tên:</p>
                        <input type="text" placeholder="Họ và tên" required />
                    </div>
                    <div class="input-box">
                        <p>Email:</p>
                        <input type="text" placeholder="Email" required />
                    </div>
                    <div class="input-box">
                        <p>Ngày sinh:</p>
                        <input type="date" placeholder="dd/mm/yy" required />
                    </div>
                    <div class="input-box">
                        <p>Địa chỉ:</p>
                        <input type="text" placeholder="Địa chỉ" required />
                    </div>
                    <div class="input-box">
                        <p>Mật khẩu:</p>
                        <input type="password" placeholder="Mật khẩu" required />
                    </div>
                </div>
                <div class="Thong_tin_2">
                    <div class="input-box">
                        <p>CCCD:</p>
                        <input type="text" placeholder="Căn cước công dân" required />
                    </div>
                    <div class="input-box">
                        <p>Số điện thoại</p>
                        <input type="number" placeholder="Số điện thoại" required />
                    </div>
                    <div class="input-box">
                        <p>Loại khách hàng</p>
                        <input type="date" placeholder="Loại khách hàng" required />
                    </div>
                    <div class="input-box">
                        <p>Giới tính</p>
                        <input type="text" placeholder="Giới tính" required />
                    </div>
                    <div class="input-box">
                        <p>Quốc tịch</p>
                        <input type="text" placeholder="Quốc tịch" required />
                    </div>
                </div>
            </div>
            <div class="button_group">
                <button type="submit" class="btn_Luu">Lưu</button>
                <button type="submit" class="btn_Sua_thong_tin">Sửa</button>
            </div>
        </form>
    </div>
</body>
</html>

