
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Picture/logomaybay.jpg" rel="icon" type="image/x-icon" />
    <title>Trang chủ</title>
    <link href="~/Content/css/TrangChu.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <img src="~/Content/Picture/hinhnenbackgroundplane.jpg" alt="Alternate Text" class="banner" />
        <div class="card">
            <h4>Bạn chọn máy bay nàoooo</h4>
        </div>
    </div>
</body>
